html, body {
    margin: 0;
    padding: 0;
    background: #1F2937;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

.titles {
    width: 400px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    margin: 100px 0 0 120px;
}

.title1 {
    margin: 0;
    color: white;
}
.title2 {
    margin: 0;
    color: #55F991;
}

.desc {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.btn {
    margin: 50px 10px 0px 0px;
    align-items: center;
    padding: 9px 17px 9px 15px;
    border-radius: 6px;
    background: #10B981;
    border: 0;
    color: white;
}

.pwd-length {
    display: inline-block;
    font-family: "Inter", sans-serif;
    padding: 10px 5px; 
    background: #273549;
    margin: 0 10px 0px 120px;
    width: 150px;
    border-radius: 6px;
    color: #55F991;
    font-size: 16px;
    white-space: nowrap;
    border-style: none;
}

.note {
    color: white;
    font-family: "Karla", "Inter", sans-serif;
    font-size: 14px;
    margin: 10px 0 30px 120px;
}

.group1 {
    display: flex;
    margin: 30px 30px 0 120px;
}

.group2 {
    display: flex;
    margin: 0 120px;
}

.pass {

    font-family: "Inter", sans-serif;
    padding: 10px 42px; 
    background: #273549;
    margin: 0 30px 20px 0;
    width: 150px;
    text-align: center;
    border-radius: 6px;
    color: #55F991;
    font-size: 16px;
    white-space: nowrap;
}

hr {
    display: block;
    width: 500px;
    margin-left: 120px;
    background-color: #2F3E53;
    border: none;
    height: 2px;
}


